body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    width: 100px;
    display: inline-block;
}

.form-control {
    padding: 5px 0;
}

button {
    background: #ccc;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #bbb;
}

input {
    font-size: 14px;
    padding: 5px;
}

.error {
    border: 1px solid red;
    display: inline-block;
}

.error-label {
    font-size: 12px;
    color: red;
}